.blog {
    display: flex;
    flex-direction: column;

}

.blog_content {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
    
}

h1 {
    font-family: var((--font-family));
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;

}

.blog_container {
    display: flex;
}

.blog_container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.blog_container_groupB {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width:1350px) {
    .blog_container {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .gpt3__blog-container_article-image img {
        width: 600px;
        height: 1000px;

    }


}

@media screen and (max-width:850px) {
    .blog_container_groupB {
        grid-template-columns: repeat(1, 1fr);

    }

    .blog_content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    h1 {}
}