.awards {
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;


}

.awards_content {
    flex: 1;

}

.awards_heading {

    font-family: var(--font-base);
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    letter-spacing: 0.03em;
    color: var(--color-golden);

}

.awards_container {
    display: grid;

    grid-template-columns: 1fr 1fr;
}



.awards_img {
    flex: 1;
}


.awards_img img {
    max-width: 100%;
}

.award {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 230px;
    margin: 1rem;
}

.award img {
    width: 50px;
    height: 50px;
}

.award_content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

/* @media screen and (min-width: 1900px) {
    .award {
        min-width: 390px;
    }
} */


@media screen and (max-width: 950px) {
    .award {
        min-width: 100%;
        margin: 1rem 0;
    }

    .awards {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .award {
        min-width: 100%;
        margin: 1rem 0;
    }

    .awards {
        flex-direction: column;
    }

    .awards_container {
        display: grid;

        grid-template-columns: 1fr;
    }

}